<ion-header id="header" style="background-image: url({{details?.image}}); background-size: cover;" class="ion-no-border bg_trans">
  <ion-toolbar class='bg_transp' lines="none">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item class="ion-text-center bg_transp bg_trans ion-no-padding" lines="none">
    <ion-text class="text-bold bg_transp">{{ details?.title }}</ion-text>
  </ion-item>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-card>
    <ion-card-content class="ion-no-margin ion-no-padding">
      <ion-label class="ion-no-margin ion-padding">
        <ion-text>{{ details?.description }}</ion-text>
      </ion-label>
      <audio class="player" controls>
        <source src="">
      </audio>
    </ion-card-content>
  </ion-card>

  <swiper class="ion-margin" [config]="config">
    <ng-template swiperSlide *ngFor="let remede of remedes">
      <ion-card class="ion-padding">
        <ion-card-header>
          <ion-card-subtitle>{{ remede[1]?.nom }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content button="true" (click)="showRemede(remede)">
          <ion-img class="ion-no-margin" src="{{ remede[1].image }}"></ion-img>
          <audio class="player" controls src="{{ remede[1].audio }}"></audio>
          <ion-card-subtitle>
            <p><b>Hello World</b></p>
            <ion-text>
              <ion-label>{{ remede[1]?.created.toDate() | date }}</ion-label>
            </ion-text>
          </ion-card-subtitle>
        </ion-card-content>
          <ion-buttons>
            <ion-button color="{{'cgreen'}}" (click)="like(remede)" *ngIf="(currentUser?.uid | include: remede[1]?.likes)===true">
              <ion-icon name="heart-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="like(remede)" *ngIf="(currentUser?.uid | include: remede[1]?.likes)===false">
              <ion-icon name="heart-circle-outline"></ion-icon>
            </ion-button>
            <ion-button color="cgreen" (click)="dislike(remede)" *ngIf="(currentUser?.uid | include: remede[1]?.dislikes)===true">
              <ion-icon name="heart-dislike-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="dislike(remede)" *ngIf="(currentUser?.uid | include: remede[1]?.dislikes)===false">
              <ion-icon name="heart-dislike-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="comment(remede[0])">
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="addToFavorite(remede[0])">
              <ion-icon name="bookmark-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-card>
    </ng-template>
  </swiper>
  <ion-button class="ion-margin" color="cgreen" expand="block" (click)="addRemede()">
    <ion-icon name="add"></ion-icon>
    <span>Ajouter une remède</span>
  </ion-button>
</ion-content>
