@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import '~@ionic/angular/css/ionic-swiper';

ion-header{
  height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 119px !important;
  max-height: 201 !important;
}

ion-content {

  ion-card-content{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
  }

  ion-slide{
    width: 80%;
  }

}
