<ion-header style="background-image: url('{{ cim?.data()?.image }}'); background-size: cover;"
  class="ion-no-border bg_trans">
  <ion-toolbar class="bg_transp" lines="none">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item class="bg_transp" lines="none"></ion-item>
  <ion-item class="ion-text-center bg_transp bg_trans ion-no-padding" lines="none">
    <ion-text class="text-bold bg_transp">{{ cim?.get('title') }}</ion-text>
  </ion-item>
  <ion-card class="ion-text-center bg_transp bg_trans ion-no-padding">
    <audio controls [src]="cim?.get('audio')"></audio>
  </ion-card>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let child of children">
    <ion-card color="light" button="true">
      <ion-card-content (click)="showDetails(child?.id)">
        <img class="children-image" [src]="child?.get('image')" />
        <ion-title class="ion-text-center" size="small">{{ child?.get('title') }}</ion-title>
      </ion-card-content>
      <ion-card-subtitle class="ion-text-center ion-margin">{{ child?.id?.length }} remèdes proposés</ion-card-subtitle>
      <ion-icon name="bookmark"></ion-icon>
    </ion-card>
  </ion-list>

</ion-content>
