ion-header{
  height: 119px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg_trans{
    background-color: rgba(34, 139, 34, 0.5);
}

.children-image{
  height: 201px;
  width: 100%;
  border-radius: 19px;
}
