<ion-header>
  <ion-toolbar class='bg_transp' lines="none">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-card-content>
      <img class="profile-img" src="{{ currentUser?.photoURL }}" />
      <ion-button expand="block" (click)="uploadPhoto()" color="cgreen">
        <ion-icon name="create-outline"></ion-icon>
        modifier
      </ion-button>
      <ion-item class="ion-margin-top ion-margin-bottom bg_transp" lines="none">
        <ion-label position="floating">Nom complet</ion-label>
        <ion-input value="{{ currentUser?.displayName }}"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="uploadPhoto()" color="cgreen">
        <ion-icon class="ion-margin" name="save"></ion-icon>
        Enregistrer
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
