<ion-header>
  <ion-toolbar class='bg_transp' lines="none">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #data="ngForm" (ngSubmit)="updateUser(data)">
    <ion-card class="ion-padding">
      <ion-card-content>
        <ion-card class="circle ion-margin-top ion-margin-bottom bg_transp" lines="none">
            <img id="profileImage" src="{{ currentUser?.photoURL }}" />
        </ion-card>
        <ion-button id="submitImage" expand="block" color="cgreen">
          <ion-icon name="create-outline"></ion-icon>
          modifier
        </ion-button>
        <!-- Element is hidden by default -->
        <ion-item class="ion-hide">
          <input type="file" id="imagePicker" accept="image/png, image/jpeg" />
        </ion-item>
          <ion-item class="ion-margin-top ion-margin-bottom bg_transp" lines="none">
            <ion-label position="floating">Nom complet</ion-label>
            <ion-input name="displayName" value="{{ currentUser?.displayName }}" ngModel></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top ion-margin-bottom bg_transp" lines="none">
            <ion-text>
              <ion-label>Identiant</ion-label>
              <ion-card-subtitle>{{ currentUser?.userName }}</ion-card-subtitle>
            </ion-text>
          </ion-item>
          <ion-button type="submit" expand="block" color="cgreen">
            <ion-icon class="ion-margin" name="save"></ion-icon>
            <span>Mettre à jour</span>
          </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
