<ion-header>
  <ion-toolbar class='bg_transp' lines="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="medium" *ngIf="pharma">{{ pharma.nom }}</ion-title>
    <ion-title size="medium" *ngIf="!pharma"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium" *ngIf="pharma">{{ pharma.nom }}</ion-title>
      <ion-title size="medium" *ngIf="!pharma"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container" class="ion-padding" *ngIf="!pharma">
    <span>Aucune pharmacopée trouvée à votre compte</span>
    <ion-button color="cgreen" (click)="installPharma()" expand="block">
      <ion-icon name="add"></ion-icon>
      <span>installer une pharmacopée</span>
    </ion-button>
  </div>

</ion-content>
