<ion-header class="ion-no-border">
  <ion-toolbar color="cgreen"class="bg_transp" lines="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon color="light" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text color="light">
      <ion-title size="medium" *ngIf="pharma">{{ pharma.nom }}</ion-title>
    </ion-text>
  </ion-toolbar>
  <!-- <ion-item color="cgreen" lines="none">
    <ion-searchbar color="light" showCancelButton="focus" cancelButtonText="Annuler" placeholder="Rechercher..."
      [(ngModel)]="searchRemedy" animated focus></ion-searchbar>
  </ion-item> -->
</ion-header>

<ion-content>

  <ion-card *ngIf="pharma" class="ion-padding bg_transp">
    <ion-button class="ion-margin" color="cgreen" expand="block" (click)="addRemede()">
      <ion-icon name="add"></ion-icon>
      <span>ajouter un remède</span>
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col color="lgreen" *ngFor="let remedy of remedies" size="6" class="ion-align-self-start">
          <ion-card-subtitle class="ion-text-center">{{ remedy?.get('nom') }}</ion-card-subtitle>
          <img [src]="remedy?.get('image')">
          <ion-button color="cgreen" expand="block" (click)="editRemedy(remedy?.id)">
            <ion-icon name="create-outline"></ion-icon>
            <span>modifier</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="container" class="ion-padding" *ngIf="!pharma">
    <span>Aucune pharmacopée trouvée à votre compte</span>
    <ion-button color="cgreen" (click)="installPharma()" expand="block">
      <ion-icon name="add"></ion-icon>
      <span>installer une pharmacopée</span>
    </ion-button>
  </ion-card>

  <ion-grid *ngIf="skeleton">
    <ion-row>
      <ion-col color="lgreen" size="6" class="ion-align-self-start" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
        <ion-item>
          <ion-thumbnail slot="start" class="ion-margin">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
