<ion-header>
  <ion-toolbar color="cgreen" class="bg_transp" lines="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-text color="cgreen">
    <h5 class="ion-text-uppercase"><b>Application d’accès aux remèdes et aux conseils médicaux traditionnels</b></h5>
  </ion-text>
  <ion-img class="ion-margin" src="../../../assets/files/images/tree_of_life.png"></ion-img>
  <ion-text class="ion-margin-top">
    <p>Vue l'éfficacité des remèdes et les conseils médicaux traditionnels dans le traitement des
      maladies, alors que la majorité de la population ignore certains de leurs bienfaits.</p>
    <p>Comme projet de soutenance des apprenants à <strong>Orange Digital Kalanso,</strong></p>
    <p>nous avons été amenés à réaliser cette application pour montrer nos acquis durant la formation sur les huit
      compétences basées le frontend, backend, et cms.
      En plus le projet consiste à faciliter l'accès aux remèdes et aux conseils médicaux traditionnels.</p>
    <ion-img class="ion-margin" src="../../../assets/files/images/odk_white.png"></ion-img>
    <p>Qu'es ce que <strong>Orange Digital Kalanso ?</strong></p>
    <p>Orange Digital Kalanso est la première école de formation aux métiers du numérique libre d’accès et totalement
      gratuite pour les jeunes de 18 à 30 ans. Son but est de faciliter l'employabilité des jeunes à l'heure numérique.
    </p>
  </ion-text>
  <ion-text class="ion-text-center ion-margin">
    <p><strong>Orange en partenariat avec Giz</strong></p>
    <ion-img class="ion-margin" src="../../../assets/files/images/orange_giz.png"></ion-img>
  </ion-text>
</ion-content>
