<ion-header>
  <ion-toolbar class='bg_transp' lines="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding ion-text-center">
    <ion-card-header>
      <ion-text color="cgreen">
        <h5 class="ion-text-uppercase"><b>Application d’accès au remède et au conseils médicaux ancestraux</b></h5>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../../../assets/files/images/tree_of_life.png"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
