<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="cgreen">
        <ion-title class="ion-text-center" *ngIf="currentUser">{{ currentUser?.displayName }}</ion-title>
        <ion-title class="ion-text-center" *ngIf="!currentUser">John Doe</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="closeMenu()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-button color="danger" expand="block" (click)="signOut()">Deconnecter</ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
