<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar class="bg_transp" lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Continuer avec</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="bg_transp">
    <ion-card-content class="bg_transp">
      <ion-button class="ion-margin" color="cgreen" (click)="signInWithPhone()" expand='block'>
        <ion-icon name="call"></ion-icon>
        <span class="ion-margin">Téléphone</span>
      </ion-button>
      <ion-button class="ion-margin" color="cgreen" expand='block' (click)="signWithGoogle()">
        <ion-icon name="logo-google"></ion-icon>
        <span class="ion-margin">Google</span>
      </ion-button>
      <ion-button class="ion-margin" color="cgreen" expand='block'>
        <ion-icon name="logo-facebook"></ion-icon>
        <span class="ion-margin">Facebook</span>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
