<ion-header class="ion-no-border">
  <ion-toolbar color="cgreen">
    <ion-title color="light" class="ion-text-center">Rechercher un remède</ion-title>
  </ion-toolbar>
  <ion-item color="cgreen" lines="none">
    <ion-searchbar color="light" showCancelButton="focus" cancelButtonText="Annuler" placeholder="Rechercher..."
      [(ngModel)]="searchText" animated focus></ion-searchbar>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding" *ngFor="let result of results | filter:searchText">
      <ion-item color="light">
        <ion-avatar>
          <img [src]="result[1]?.image" />
        </ion-avatar>
        <ion-card-subtitle class="ion-margin">{{ result[1]?.nom }}</ion-card-subtitle>
        <ion-button slot="end" (click)="showRemedy(result[0])">
          <ion-icon name="eye"></ion-icon>
          <span>voir</span>
        </ion-button>
      </ion-item>
    </ion-list>
</ion-content>
