/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--ion-color-lgreen: #afa;
	--ion-color-lgreen-rgb: 170,255,170;
	--ion-color-lgreen-contrast: #000000;
	--ion-color-lgreen-contrast-rgb: 0,0,0;
	--ion-color-lgreen-shade: #96e096;
	--ion-color-lgreen-tint: #b3ffb3;
}

.ion-color-lgreen {
	--ion-color-base: var(--ion-color-lgreen);
	--ion-color-base-rgb: var(--ion-color-lgreen-rgb);
	--ion-color-contrast: var(--ion-color-lgreen-contrast);
	--ion-color-contrast-rgb: var(--ion-color-lgreen-contrast-rgb);
	--ion-color-shade: var(--ion-color-lgreen-shade);
	--ion-color-tint: var(--ion-color-lgreen-tint);
}

:root {
	--ion-color-cgreen: #228B22;
	--ion-color-cgreen-rgb: 34,139,34;
	--ion-color-cgreen-contrast: #ffffff;
	--ion-color-cgreen-contrast-rgb: 255,255,255;
	--ion-color-cgreen-shade: #1e7a1e;
	--ion-color-cgreen-tint: #389738;
}

.ion-color-cgreen {
	--ion-color-base: var(--ion-color-cgreen);
	--ion-color-base-rgb: var(--ion-color-cgreen-rgb);
	--ion-color-contrast: var(--ion-color-cgreen-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cgreen-contrast-rgb);
	--ion-color-shade: var(--ion-color-cgreen-shade);
	--ion-color-tint: var(--ion-color-cgreen-tint);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bg_transp{
    --background: transparent;
}