<ion-header class="ion-no-border">
  <ion-toolbar color="cgreen" class="bg_transp" lines="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon color="light" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Dashboard</ion-title>
  </ion-toolbar>
  <ion-segment color="cgreen" position="fixed" scrollable (ionChange)="segmentChanged($event)" value="{{ tab }}">
    <ion-segment-button value="cim">
      <ion-label>cim</ion-label>
    </ion-segment-button>
    <ion-segment-button value="users">
      <ion-label>Users</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pharma">
      <ion-label>Pharmacopées</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <!-- CIM tab content -->
  <app-cim-section *ngIf="tab === 'cim'"></app-cim-section>

  <!-- Users tab content -->
  <app-users-section *ngIf="tab === 'users'"></app-users-section>

  <!-- Pharma tab content -->
  <app-pharma-section *ngIf="tab === 'pharma'"></app-pharma-section>


</ion-content>
