<ion-header class="ion-no-border">
  <ion-toolbar color="cgreen"class="bg_transp" lines="none">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-avatar class="ion-margin" slot="start">
      <img [src]="toUser?.get('photoURL')" />
    </ion-avatar>
    <ion-title slot="start" color="light">{{ toUser?.get('displayName') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let mes of messages">
    <ion-card style="width: 90%;" class="ion-padding ion-float-right" *ngIf="mes?.get('from') === currentUser?.id">
      <ion-card-title>{{ mes?.get('message') }}</ion-card-title>
      <ion-card-subtitle>
        {{ mes?.get('created')?.toDate() | date }}
      </ion-card-subtitle>
    </ion-card>

    <!-- Check if the message is text or image -->
    <ion-card style="width: 90%;" color="light" class="ion-padding ion-float-left" *ngIf="mes?.get('from') === toUser?.id">
      <ion-card-title *ngIf="mes?.get('type') === 'text'">{{ mes?.get('message') }}</ion-card-title>
      <img [src]="mes?.get('message')" *ngIf="mes?.get('type') === 'img'"/>
      <ion-card-subtitle>
        {{ mes?.get('created')?.toDate() | date }}
      </ion-card-subtitle>
    </ion-card>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="skeleton">
    <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
      <ion-thumbnail slot="start" class="ion-margin">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea type="text" maxlength="255" [(ngModel)]="message" placeholder="Message" required></ion-textarea>
    <!-- Element is hidden by default -->
    <ion-item class="ion-hide">
      <input type="file" id="imagePicker" accept="image/png, image/jpeg" />
    </ion-item>
    <ion-buttons slot="end">
      <ion-button id="submitImage">
        <ion-icon color="cgreen" name="camera"></ion-icon>
      </ion-button>
      <ion-button (click)="sendMessage()">
        <ion-icon color="cgreen" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
